spring:
   application:
      name: catalog-service
   config: 
      import: "optional:configserver:"    
   cloud: 
      config: 
         uri: http://localhost:8888          
   datasource:            
      username: user 
      password: password 
      url: jdbc:postgresql://localhost:5432/polardb_catalog      
      hikari: 
         connection-timeout: 2000     
         maximum-pool-size: 5         

server:
   port: 9001
   tomcat:
      connection-timeout: 2s
      keep-alive-timeout: 15s
      threads:
         max: 50
         min-spare: 5
         
polar:
   greeting: Welcome to the local book catalog!
         